{% include 'top.html' %}
<section>
    <br />
    <div align="center">
        <h1>게시판 상세 보기</h1>
        <form method="POST">
            {% csrf_token %}
            <table border="1">
                <tr align="center">
                    <td> 제 목 </td>
                    <td><input type="text" name="title" value="{{board.title}}" style="width:300px;"></td>
                </tr>
                <tr align="center">
                    <td> 내 용 </td>
                    <td><textarea name="content" style="width:300px; height:100px;" >{{board.content}}</textarea></td>
                </tr>
                <tr align="center">
                    <td colspan="2">
                        <input type="submit" value="수정하기">
                    </td>
                </tr>
            </table>
        </form>
      <hr>
      <a href="{% url 'board_form' %}">저장하기</a>&emsp;
      <a href="{% url 'board_list' %}">목록보기</a>&emsp;
      <a href="{% url 'board_delete' board.pk%}">삭제하기</a>
    </div>
    <br />
</section>

{% include 'bottom.html' %}